@()

@layout("index") {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
            </h1>
        </div>
    </div>

    <div class="row" id="datatable">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>

                </tr>
            </thead>

        </table>
    </div>
    <script type="text/javascript" src="@routes.Assets.at("js/datatable.js")"></script>
}